@import url(https://fonts.googleapis.com/css?family=Wire+One|Life+Savers|Flamenco|Bigelow+Rules|Underdog|Goudy+Bookletter+1911|Nixie+One|Tangerine|Poiret+One|Allura);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nav-color: #000;
    --nav-color-hover: #ef8859;
    --para-color: #6c6c6c;
    --btn-color: #000;
    --sale-color: #ef8859;
    --old-price-color: #868686;
    --new-price-color: #3c3c3c;
    --hot-sale-color: #9db97b;
    --date-color: #fff;
    --category-bg-color: #e8f0f3;
}
.bg{
    background-color: var(--category-bg-color);
    height: 447px;
}
.bg h2{
    font-size: 36px;
    letter-spacing: 7.2px;
    transform: translateY(300%);
}
.container-fluid{
    padding: 0;
}
.cat-img img{
    width: 320px;
    height: 320px;
    margin-top: 100px;
}
.cat-img img:hover{
    animation: shake 1s;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
.cat-img span{
  color: var(--btn-color);
  font-size: 16px;
  letter-spacing: 2px;
  transition: all .3s ease;
}